/*Aula 01 - 01/04/23 */

body, ul {
    margin: 0px;
    padding: 0px;
}
#header #menu a{
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
  } 
#header #menu a:hover {
  color: black;
  font-size: 1.2em;
  transition: 0.3s;
  text-shadow: 4px 4px 6px #0000007a;  
}
#logo img a:hover {
  box-shadow: 5px 5px 6px #0000007a;
  transition: 0,3s;
}
a:hover {
    background: #340763;
}
#logo img{
  float: left;
  height: 35px;
  position: fixed;
  top: 15px;
  left: 20px;
}
  #header {
  width: 100%;
  position: fixed;
  z-index: 90;
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #340763;
}
#menu {
 display: flex;
 list-style: none;
 gap: 1.0rem;
}
#btn-mobile {
 display: none;
}
#carouselExampleInterval {
 position: relative;
 z-index: 10;
 padding-top: 55px;
}
/* Estilo CSS Banner */
.section-banner-home {
  width: 100%;
  height: 500px;
  margin-top: 0px;
  padding: 50px;  
  background-color: #ffffec;
}
.section-banner-home img{
  height: 400px;
}
.section-banner-home .texto-banner{
  margin-top: 30px;
  font-size: 22px;
}
.section-banner-home .texto-banner h1{
  font-size: 30px;
  width: 60%;
  font-weight: 500;
  padding-bottom: 20px;
}
.section-banner-home .texto-banner p{
  font-size: 15px;
  margin-top: 20px;
}
.section-banner-home .texto-banner a{
  color: aliceblue;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  padding: 4px 14px;
  font-size: 15px;  
}
/* Fim CSS Banner*/

/*CSS Destaque*/
.destaque h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  margin: 30px auto;
}
.destaque p {
  width: 77%;
  text-align: center;
  font-size: 14px;
  margin: 30px auto;
}
.destaque figcaption {
  font-size: 13px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}